@import './mixins';
@import './vars';
@import './typography';

body {
  margin: 0;
  background: #fff;
  color: $color-cod-gray;
  font-family: 'Red Hat Display', system-ui;
  font-size: 1.125rem;
  overflow-x: hidden;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#app {
  overflow: hidden;
}

.content {
  position: relative;
  margin: auto;
  width: 100%;
  max-width: 1248px;
  overflow-x: visible;
  position: relative;

  @include small-desktop {
    max-width: unset;
    padding: 100px 100px 0;
  }

  @include mobile {
    padding: 0;
    min-height: unset;
  }
}
