@mixin mobile {
  @media all and (max-width: 1247px) {
    @content;
  }
}

@mixin medium-desktop {
  @media all and (max-width: 1680px) and (min-width: 1248px) {
    @content;
  }
}

@mixin small-desktop {
  @media all and (max-width: 1248px) {
    @content;
  }
}
