@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

#app {
  h2,
  h3,
  h4,
  h5,
  p,
  blockquote {
    margin-block-end: 0;
    margin-block-start: 0;
  }

  h2 {
    position: relative;
    margin: 2rem 0;
    font-style: normal;
    font-weight: 600;
    font-size: 3rem;
    line-height: 4rem;
    font-family: 'Red Hat Display', system-ui;
    color: $color-cod-gray;

    @include mobile {
      margin: 1.5rem 0;
      font-size: 2rem;
      line-height: 2.5rem;
    }
  }

  h3 {
    position: relative;
    margin: 1.5rem 0;
    font-style: normal;
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.5rem;
    font-family: 'Red Hat Display', system-ui;
    color: $color-cod-gray;

    @include mobile {
      margin: 1rem 0;
      font-size: 1.5rem;
      line-height: 2rem;
    }
  }

  p {
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 2rem;
    color: $color-cod-gray;

    @include mobile {
      font-size: 1rem;
      line-height: 1.5rem;
    }
  }
}
