$color-cod-gray: #1a1a1a;
$color-mischka: #d1d5db;
$color-persimmon: #ff5b5b;
$color-dodger-blue: #2196f3;
$color-silver: #ccc;
$color-gallery: #eee;
$color-alabaster: #fafafa;

$min_width: 380px;
$max_width: 1440x;
$min_font: 16px;
$max_font: 26px;

$border-radius-big: 64px;
